/.metadata
/taotao-common/target
/taotao-common/.classpath
/taotao-common/.project
/taotao-common/.settings
/taotao-manager/.settings
/taotao-manager/*.project
/taotao-manager/taotao-manager-dao/.classpath
/taotao-manager/taotao-manager-dao/.project
/taotao-manager/taotao-manager-dao/.settings
/taotao-manager/taotao-manager-dao/target
/taotao-manager/taotao-manager-pojo/.project
/taotao-manager/taotao-manager-pojo/.settings
/taotao-manager/taotao-manager-pojo/target
/taotao-manager/taotao-manager-pojo/.classpath
/taotao-manager/taotao-manager-service/.project
/taotao-manager/taotao-manager-service/.settings
/taotao-manager/taotao-manager-service/target
/taotao-manager/taotao-manager-service/.classpath
/taotao-manager/taotao-manager-web/.classpath
/taotao-manager/taotao-manager-web/.project
/taotao-manager/taotao-manager-web/.settings
/taotao-manager/taotao-manager-web/target
/taotao-parent/.project
/taotao-parent/.settings
/.recommenders/
